@model OnlineDoctorsAppointmentApp.Models.VisitingSession

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VisitingSession</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chamber.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chamber.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxNoOfAppointments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNoOfAppointments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitingSessionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
