@using System.Web.Mvc.Html
@model OnlineDoctorsAppointmentApp.Models.Appointment

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Your Appoinment</title>
    </head>
    <body>
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        
        
        <div class="form-group">
            @Html.Label("Doctor's Name:")
            <div class="col-md-10">
                <input type="text" readonly="readonly" value="@ViewBag.doctorName" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Appointment Time:")
            <div class="col-md-10">
                <input type="text" readonly="readonly" value="@Model.AppointmentTime" />
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.Label("Serial No:")
            <div class="col-md-10">
                <input type="text" readonly="readonly" value="Your serial No." />
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Chamber Address:")
            <div class="col-md-10">
                <input type="text" readonly="readonly" value="@ViewBag.chamberName" />
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Your Name:")
            <div class="col-md-10">
                <input type="text" readonly="readonly" value="@Model.PatientName" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Your Email:")
            <div class="col-md-10">
                <input type="text" readonly="readonly" value="@Model.PatientEmail" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Your Phone:")
            <div class="col-md-10">
                <input type="text" readonly="readonly" value="@Model.PatientPhone" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Your Address:")
            <div class="col-md-10">
                <input type="text" readonly="readonly" value="@Model.PatientAddress" />
            </div>
        </div>


    </body>
</html>