@using System.Web.Mvc.Html
@model OnlineDoctorsAppointmentApp.Models.Appointment

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Your Appoinment</title>
    </head>
    <body>
        <h2>Appointment Details</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="form-group">
            @Html.Label("Doctor's Name:")
            @ViewBag.doctorName"
        </div>
        <div class="form-group">
            @Html.Label("Appointment Time:")
            @Model.AppointmentTime
            
        </div>
        
        
        <div class="form-group">
            @Html.Label("Serial No: ")
            @ViewBag.SerialNo
        </div>
        
        <div class="form-group">
            @Html.Label("Chamber Address: ")
            @ViewBag.chamberName
                
            
        </div>
        
        <div class="form-group">
            @Html.Label("Your Name: ")
            @Model.PatientName
        </div>
        <div class="form-group">
            @Html.Label("Your Email: ")
            @Model.PatientEmail
            
        </div>
        <div class="form-group">
            @Html.Label("Your Phone: ")
            @Model.PatientPhone
            
        </div>
        <div class="form-group">
            @Html.Label("Your Address: ")
            @Model.PatientAddress
        </div>


    </body>
</html>