@model OnlineDoctorsAppointmentApp.Models.Doctor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Doctor</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DoctorId)

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorName)
                @Html.ValidationMessageFor(model => model.DoctorName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Degree, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Degree)
                @Html.ValidationMessageFor(model => model.Degree)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Specialization, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Specialization)
                @Html.ValidationMessageFor(model => model.Specialization)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorEmail)
                @Html.ValidationMessageFor(model => model.DoctorEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorPhone)
                @Html.ValidationMessageFor(model => model.DoctorPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageName)
                @Html.ValidationMessageFor(model => model.ImageName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorFee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorFee)
                @Html.ValidationMessageFor(model => model.DoctorFee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChamberId, "ChamberId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ChamberId", String.Empty)
                @Html.ValidationMessageFor(model => model.ChamberId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
