@model IEnumerable<OnlineDoctorsAppointmentApp.Models.VisitingSession>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChamberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNoOfAppointments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChamberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxNoOfAppointments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VisitingSessionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VisitingSessionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VisitingSessionId })
        </td>
    </tr>
}

</table>
