@using System.Web.Mvc.Html
@using OnlineDoctorsAppointmentApp.Models
@model OnlineDoctorsAppointmentApp.Models.VisitingSession

@{
    ViewBag.Title = "Search Doctor";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.DoctorId, "Doctor Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DoctorId", String.Empty)
                @Html.ValidationMessageFor(model => model.DoctorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Doctors.Specialization, "Specialization", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SpecializationId", String.Empty)
                @Html.ValidationMessageFor(model => model.Doctors.Specialization)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chambers.ChamberId, "Chamber Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ChamberId", String.Empty)
                @Html.ValidationMessageFor(model => model.ChamberId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chambers.Zone, "Area", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ChamberZone", String.Empty)
                @Html.ValidationMessageFor(model => model.Chambers.Zone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, "Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("dateSearchTextbox")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Search", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("searchTextbox")
            </div>
       </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<h1>appoint : @ViewBag.NoOfAppoinments </h1>
@{
    List<VisitingSession> vsList = new List<VisitingSession>();
    vsList = ViewBag.doctorList;
  
    @Html.Partial("SearchDoctor", vsList)
}
