@using OnlineDoctorsAppointmentApp.Models
@model IEnumerable<OnlineDoctorsAppointmentApp.Models.VisitingSession>
@{
    ViewBag.Title = "Search Doctor";
}

<h2>Search Doctor</h2>

@{
    VisitingSession searchDoctorinVisitingSession = new VisitingSession();
    @Html.Partial("SearchDoctor",searchDoctorinVisitingSession)
}

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Doctors.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctors.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chambers.Name)
        </th>
        <th>
           Visiting Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNoOfAppointments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctors.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctors.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chambers.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNoOfAppointments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VisitingSessionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.VisitingSessionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VisitingSessionId })
            </td>
        </tr>
    }

</table>

